@{
    ViewBag.Title = "Confirme o Email";
}

<h2>@ViewBag.Title.</h2>
<div>
    <p>
        Obrigado por confirmar o email. Por-Favor @Html.ActionLink("Click aqui para o Login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
