@{
    ViewBag.Title = "Confirmação de esqueceu sua senha";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Por-Favor, cheque seu email para resetar seu senha.
    </p>
</div>
	
