@{
    ViewBag.Title = "Confirmação de Senha Alterada";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        Sua Senha foi altarada. Por-Favor @Html.ActionLink("click aqui para login", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
