@{
    ViewBag.Title = "Sobre";
}
<h2>@ViewBag.Title</h2>

<p>
    A vida é feita de histórias. Por isso, a Imobiliária J.K tem orgulho de ter participado da história de milhares de famílias.
    Desde 1983, quando a empresa abriu suas portas, sempre trabalhou para oferecer aos clientes as melhores opções de imóveis.<br/>
    <br/>
    Sabemos muito bem que um imóvel não é apenas um imóvel, é o lar onde as pessoas vão passar boa parte da vida e onde elas irão viver momentos incríveis ao lado das pessoas que amam.
    Por isso, trabalhamos o tempo todo para unir pessoas aos seus futuros lares. E ver alegria das pessoas ao pegar suas chaves é o que nos motiva a seguir em frente.<br/>
    <br />
    A J.k é uma das grandes imobiliárias de Araucáira e por ter mais de duas décadas de história, conquistou durante todo este tempo a confiança e o respeito de seus clientes, sejam aqueles que disponibilizam os imóveis ou aqueles que estão procurando por eles.
   Com 15 prêmios em excelência e 5 anos consecutivos como melhor imobiliária.
   Se você ficar satisfeito com nossa consultoria, e nosso serviço, então fique a vontade para nos contratar.</p>
